
<!-- contact us -->

<section class="contactUs">
  <div class="container">
      <h2>Contact Us</h2>
      <div class="ContactInner">
          <div class="contactLeft">
                  <span>We want to hear from you!</span>
                  <div class="ContactRow">
                          <label>Name</label>
                          <input type="name" value=" ">
                      </div>
                      <div class="ContactRow">
                          <label>Email</label>
                          <input type="name" value=" ">
                      </div>
                      <div class="ContactRow">
                          <label> Phone Number</label>
                          <input type="name" value=" ">
                      </div>
                      <div class="ContactRow">
                          <label>Message</label>
                          <textarea type="textarea"></textarea>
                      </div>
                      <button type="button" value=" ">
                          Submit
                      </button>
          </div>
          <div class="contactRight">
              <h3>Contact Information</h3>
              <div class="mainContactInfo">
                  <div class="infoContact">
                          <i class="material-icons">location_on</i>
                          <span>
                                  1484, Sector 21, Panchkula Chandigarh <br> Haryana 134112
                          </span>
                      </div>
                      <div class="infoContact">
                              <i class="material-icons">settings_phone</i>
                              <span>
                                      9888907335
                              </span>
                          </div>
                          <div class="infoContact">
                                  <i class="material-icons">email</i>
                                  <span>
                                          Buddy@LwayGo.com
                                  </span>
                              </div>
                              <div  class="social-links">
                                      <a  href="#">
                                          <i  class="fa fa-facebook"></i>
                                      </a>
                                      <a  href="#">
                                          <i  class="fa fa-twitter"></i>
                                      </a>
                                      <a  href="#">
                                          <i class="fa fa-google-plus"></i>
                                      </a>
                                      <a  href="#">
                                          <i class="fa fa-pinterest"></i>
                                      </a>
                                  </div>
              </div>
          </div>
          
      </div>
  </div>
</section>




