<div class="web_app">
  <header>
    <!-- Main Nav -->
    <nav class="navbar navbar-default lw_nav">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <img src="assets/img/logo.png" alt="Lwaygo Logo">
          </a>
        </div>

        <!-- Category links and Search Box -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <div class="lw_categoryDropdown">
            <a href="#" class="categoryDropdown_menu">
              <i class="material-icons">apps</i>
              <span>Category</span>
              <i class="material-icons md-18">keyboard_arrow_down</i>
            </a>
          </div>

          <form class="navbar-form navbar-left lw_appGlobal_Search">
            <div class="form-group">
              <input type="text" class="form-control appGlobal_Search_input" placeholder="Search Lwaygo.com">
            </div>
            <button type="submit" class="appGlobal_SearchButton"><i class="material-icons md-18">search</i></button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">About Lwaygo.com</a></li>
            <li><a href="#">Become A Partner</a></li>
            <div class="appNav_login_signup">
              <li><a href="#" class="btn btn-default ">Log in</a></li>
              <li><a href="#" class="btn btn-primary ">Sign Up</a></li>
            </div>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </header>

  <!-- Homepage Banner -->
  <section class="lw_homeBanner">
    <div class="lw_homeBanner_bg">
      <img src="assets/img/banner-bg.jpg">
    </div>
    <div class="lw_homeBanner_overlay">
      <div class="container">
        <div class="bannerContent">
          <h1>Here is everything for your work life.</h1>
          <h3>Get help to create an awesome workplace culture!</h3>

          <div class="bannerContent_actions">
            <a href="#" class="bannerAction">
              Need some help?
              <span>Find a perfect service for you.</span>
            </a>
            <span class="bannerAction_divider"></span>
            <a href="#" class="bannerAction dark">
              Need some help?
              <span>Find a perfect service for you.</span>
            </a>
          </div>
        </div>
      </div>
    </div>        
  </section>

  <!-- Services Buttons -->
  <section class="home_servicesButtons">
    <div class="container">
      <ul class="servicesButton_list">

        <!-- item -->
        <li class="servicesButton_item">
          <a href="">
            <span class="serviceIcon"><img src="assets/img/service-icons/business-services.png"></span>
            <span class="serviceName">Business Services</span>
          </a>
        </li>

        <!-- item -->
        <li class="servicesButton_item">
          <a routerLink="/office-products">
            <span class="serviceIcon"><img src="assets/img/service-icons/office-supplies.png"></span>
            <span class="serviceName">Office Supplies & Products</span>
          </a>
        </li>

        <!-- item -->
        <li class="servicesButton_item">
          <a href="">
            <span class="serviceIcon"><img src="assets/img/service-icons/business-services.png"></span>
            <span class="serviceName">Employee Engagement</span>
          </a>
        </li>

        <!-- item -->
        <li class="servicesButton_item">
          <a href="">
            <span class="serviceIcon"><img src="assets/img/service-icons/business-services.png"></span>
            <span class="serviceName">Learning & Development</span>
          </a>
        </li>

        <!-- item -->
        <li class="servicesButton_item">
          <a href="">
            <span class="serviceIcon"><img src="assets/img/service-icons/business-services.png"></span>
            <span class="serviceName">Party & Event Management</span>
          </a>
        </li>

        <!-- item -->
        <li class="servicesButton_item">
          <a href="">
            <span class="serviceIcon"><img src="assets/img/service-icons/business-services.png"></span>
            <span class="serviceName">Destination Management</span>
          </a>
        </li>

        <!-- item -->
        <li class="servicesButton_item">
          <a href="">
            <span class="serviceIcon"><img src="assets/img/service-icons/business-services.png"></span>
            <span class="serviceName">Stories</span>
          </a>
        </li>

        <!-- item -->
        <li class="servicesButton_item">
          <a href="">
            <span class="serviceIcon"><img src="assets/img/service-icons/business-services.png"></span>
            <span class="serviceName">Clients</span>
          </a>
        </li>

      </ul>
    </div>
  </section>
</div>

<!-- header end -->

<!-- middle part of screen start-->
<router-outlet></router-outlet>
<!-- middle part of screen end-->


<!-- add footer here -->



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
