<mat-card>
    <mat-card-content>
        <h2 class="example-h2">LwayGo Admin Page</h2>
        <mat-tab-group class="demo-tab-group">
        <mat-tab label="Category">
          <div class="demo-tab-content">
            <manage-category></manage-category>
        </div>
        </mat-tab>
        <mat-tab label="Product">
            <div class="demo-tab-content">
                <manage-products></manage-products>
            </div>
          </mat-tab>
  </mat-tab-group>
  </mat-card-content>
  </mat-card>   

